<div class="footer-clean" style="width: 100%;">
  <footer>
      <div class="container" style="width: 100%;">
          <div class="row justify-content-center">
              <div class="footer-info" style="padding: 10px;" >
                  <h3>Contacto</h3>
                  <ul>
                      <li>Desarrollado por: John David Rodriguez David</li>
                      <li>john.david7800@gmail.com</li>
                      <li>Envigado, Colombia</li>
                  </ul>
              </div>
              <div class="footer-info" style="padding: 10px;" >
                  <h3>Cidenet</h3>
                  <ul>
                      <li><a href="https://www.cidenet.com.co/">Pagina principal</a></li>
                      <li><a href="https://www.cidenet.com.co/nosotros/">Nosotros</a></li>
                      <li><a href="https://www.cidenet.com.co/contacto/">Contacto</a></li>
                  </ul>
              </div>
              <div class="footer-info" style="padding: 10px;">
                  <h3>Navegacion</h3>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Cartelera</a></li>
                      <li><a href="#">Ingreso</a></li>
                  </ul>
              </div>
              <div class="footer-info" style="padding: 10px;">
                  <p class="copyright">Cidenet © 2021</p>
              </div>
          </div>
      </div>
  </footer>
</div>