<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-moviefunction-heading"
        data-cy="MoviefunctionCreateUpdateHeading"
        jhiTranslate="cinemasCidenetApp.moviefunction.home.createOrEditLabel"
      >
        Create or edit a Moviefunction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cinemasCidenetApp.moviefunction.movie_date_time" for="field_movie_date_time"
            >Movie Date Time</label
          >
          <input
            type="text"
            class="form-control"
            name="movie_date_time"
            id="field_movie_date_time"
            data-cy="movie_date_time"
            formControlName="movie_date_time"
          />
          <div
            *ngIf="
              editForm.get('movie_date_time')!.invalid &&
              (editForm.get('movie_date_time')!.dirty || editForm.get('movie_date_time')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('movie_date_time')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="cinemasCidenetApp.moviefunction.active_movie_function"
            for="field_active_movie_function"
            >Active Movie Function</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="active_movie_function"
            id="field_active_movie_function"
            data-cy="active_movie_function"
            formControlName="active_movie_function"
          />
          <div
            *ngIf="
              editForm.get('active_movie_function')!.invalid &&
              (editForm.get('active_movie_function')!.dirty || editForm.get('active_movie_function')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('active_movie_function')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cinemasCidenetApp.moviefunction.movie" for="field_movie">Movie</label>
          <select class="form-control" id="field_movie" data-cy="movie" name="movie" formControlName="movie">
            <option *ngIf="!editForm.get('movie')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="movieOption.id === editForm.get('movie')!.value?.id ? editForm.get('movie')!.value : movieOption"
              *ngFor="let movieOption of moviesSharedCollection; trackBy: trackMovieById"
            >
              {{ movieOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['movie'])!.invalid && (editForm.get(['movie'])!.dirty || editForm.get(['movie'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['movie'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cinemasCidenetApp.moviefunction.hall" for="field_hall">Hall</label>
          <select class="form-control" id="field_hall" data-cy="hall" name="hall" formControlName="hall">
            <option *ngIf="!editForm.get('hall')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="hallOption.id === editForm.get('hall')!.value?.id ? editForm.get('hall')!.value : hallOption"
              *ngFor="let hallOption of hallsSharedCollection; trackBy: trackHallById"
            >
              {{ hallOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['hall'])!.invalid && (editForm.get(['hall'])!.dirty || editForm.get(['hall'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['hall'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
